{
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.liquid"],
      "options": { "plugins": ["@shopify/prettier-plugin-liquid"], "printWidth": 100 }
    }
  ]
}
